@import url('./style.css');

.container{
    margin: 0px auto 0px auto;
    width: 1170px;
    padding: 20px;
    height: 1280px;
    margin-bottom: 100px;
    background-color: #ffe1a4b4;
}

.rowcontainer{
    width: 1150px;
    height: 1275px;
    background-color: #ebb64cb4;
    margin: 0px auto 0px auto;
}

.categoria{
    margin: 0px 0px 40px 0px;
    position: relative;
    top: 30px;
    left: 40px;
    font-family: "Ubuntu", monospace;
    font-size: 20pt;
    font-weight: bold;
}

.row{
    width: 1100px;
    height: 400px;
    margin: 0px auto 0px auto;
    display: block; 
}

.row img{
    width: 200px;
    height: 225px;
    margin-top: 30px;
}

.imgcontainer{
    width: 250px;
    margin-left: 90px;
    float: left;
}

.title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 200px;
}

.promo{
    text-decoration: line-through;
    font-family: "Ubuntu", monospace;
    color: rgb(63, 63, 63);
}

.prec{
    font-family: "Ubuntu", monospace;
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-right: 10px;
}

.fpag{
    font-family: "Ubuntu", monospace;
    float:left;
}
