@import url('./style.css');

.banner{
    width: 10px;
    height: 75px;
    background-color: #e7ad39b4;
}

#banner{
    text-decoration: none;
    color: black;
}

.contmain{
    color: #e7ad39b4;
}