@import url('./style.css');

.main > h1{
    margin-bottom: 0px;
}

.main{
    padding: 20px;
}

.imgcontainer{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.maingrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.promo{
    text-decoration: line-through;
    font-family: "Ubuntu", monospace;
    color: rgb(63, 63, 63);
}

.prec{
    font-family: "Ubuntu", monospace;
    font-weight: bold;
    font-size: x-large;
}

.fpag{
    font-family: "Ubuntu", monospace;
}

.imgcontainer img{
    width: 200px;
    height: 225px;
}

@media (min-width: 800px){
    .maingrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;
    }

    .imgcontainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}