@import url('./style.css');

/* Banner */

.banner{
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #e7ad39b4;
}

.container{
    margin: 0px auto 0px auto;
    width: 1000px;
    padding: 100px;
    height: 720px;
    margin-bottom: 100px;
    background-color: #ffe1a4b4;
}

/* Tabela */

.tabgenero{
    margin-left: 1000px;
    margin-top: -55px;
    padding: 20px
}

.tabs{
    width: 400px;
    padding: 20px;
    float: right;
    background-color: #ebb64cb4;
    margin: 0px auto 0px auto;
    margin-top: 110px;
}

.tabs td, .tabs th{
    border: 1px solid black;
}

.tabgenero table{
    width: 300px;
    height: 200px;
    margin-left: 30px;
}

table.table1{
    border: 0px solid #000000;
    text-align: center;
    height: 245px;
    width: 343px;
}

table.table1 td, table.table1 th{
    border: 1px solid #000000;
    padding: 20px 20px;
}

table.table1 td a:hover{
    color: #3f3f3f;
    text-decoration: underline;
}

table.table1 thead{
    border-bottom: 2px solid #444444;
}

table.table1 thead th{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.acessos{
    font-weight: bold;
    border-top: 1px solid #444444;
}

/* Lista de Músicas mais Acessadas */

.listmaisaces{
    background-color: #ebb64cb4;
    margin-top: 90px;
    float: left;
    width: 550px;
    height: 530px;
    list-style: none;
}

.maisacessadas{
    margin-left: 50px;
}

.maisacestitle{
    font-weight: bold;
    font-size: x-large;
    text-align: left;
    margin-top: 45px;
}

.maisacesmusicaleft{
    margin-left: 20px;
    margin-top: 30px;
    line-height: 40px;
}

.maisacesmusicaright{
    margin-left: 20px;
    margin-top: 30px;
    line-height: 40px;
}

.maisacesmusicaleft a, .maisacesmusicaright a{
    font-weight: bold;
    text-decoration: underline;
}

.maisacesmusicaleft a:hover, .maisacesmusicaright a:hover{
    color: #3f3f3f;
}

.sub{
    margin-top: -10px;
    margin-bottom: 10px;
    list-style: none;
}

.maisacesleft{
    float: left;
}

.maisacesright{
    margin-left: 70px;
    float: left;
}

.container iframe{
    border-radius: 12px;
    width: 400px;
    height: 220px;
    margin-top: 30px;
    float: right;
    border-width: 0px;
}

.lojaad{
    position: relative;
    float: left;
    margin-top: 45px;
    left: 40px;
}

.acesseloja{
    text-decoration: underline;
}

.acesseloja:hover{
    color: #3f3f3f;
}

.carrinho{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    left: 50px;
    width: 90px;
    height: 90px;
}