@import url('./style.css');

main h1{
    margin-bottom: 0px;
}

.maingrid{
   display: flex;
   flex-flow: column wrap;
   padding: 20px 30px;
   gap: 20px;
}

.sobre{
    grid-area: sobre;
    width: 90%;
}

.sobre p{
    text-align: justify;
    margin-left: 10px;
    text-indent: 20px;
    line-height: 30px;
}

.sobre h2{
    margin: 20px 0 20px 0;
}

.mapa{
    grid-area: mapa;
}

.locMaps{
    width: 100%;
    height: 400px;
}

@media (min-width: 800px){
    .maingrid{
        padding: 20px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "sobre mapa";
        gap: 40px;
    }

    .sobre p{
        text-align: justify;
        text-indent: 20px;
        line-height: 30px;
        margin: 0px;
    }

    .locMaps{
        width: 100%;
        height: 100%;
    }
}