@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0px; padding: 0px; border: 0px;
}

body{
    background-color: #e8e7ce;
    font-family: 'Roboto', sans-serif;
}

/*Header*/

header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    padding: 30px;
    background-color: #303030;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px 0.4px 10px 1px #000000;
    z-index: 1;
}

:not(header){
    z-index: 0;
}

.logo{
    position: relative;
    top: -10px;
    width: 300px;
    height: 60px;
    margin-right: 20px;
    float: left;
}

.searchbox{
    padding: 5px;
    width: 400px;
    height: 40px;
    float: left;
    border: 2px solid #000000;
    border-radius: 7px;
}

header input[type="submit"]{
    border: 2px solid #000000;
    border-radius: 7px;
    height: 40px;
    width: 50px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    background-image: url('../img/pesquisar.png');
}

header input[type="submit"]:hover{
    outline: 1px solid #000000;
    border-radius: 10px;
}

form{
    float: left;
}

.login{
    margin-left: 220px;
    float: left;
    font-size: 14pt;
    margin-top: 8px;
    font-weight: bold;
}

.login a, .login a:visited, .cadastro a, .cadastro a:visited{
    padding: 15px;
    color: rgb(136, 136, 136);
}

.login a:hover, .cadastro a:hover{
    color: #b1b1b1;
}

.cadastro{
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14pt;
}

/*Menu*/

nav{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    padding: 30px;
    background-color: #ffc859b4;
    font-size: 15pt;
    border-radius: 4px;
}

.menu{
    margin: 0 80px;
    z-index: 1;
}

.list{
    float: left;
    padding: 5px;
    margin: 0px;
    margin-right: 160px;
    list-style: none;
    border: 1px solid #5c5c5c;
    position: relative;
    top: -20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.list a:hover, .sublist a:hover{
    color: rgb(255, 116, 100);
}

.menu li:last-child{
    margin-right: 0px;
}

a:visited, a{
    color: black;
    text-decoration: none;
}

nav li ul{
   display: none;
}

nav li:hover ul{
    display: block;
    padding: 10px;
    position: absolute;
    left: 40px;
    top: 25px;
    background-color: #daa843;
    outline: 2px solid black;
    border-radius: 5px;
}

.sublist{
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

/*Main*/

main{
    margin-top: 50px;
}

/*Footer*/

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #e3d295;
}

.footerinfo{
    width: 100%;
    position: absolute;
    top: 10px;
}

.footerinfoleft{
    margin-left: 50px;
}

.footerinforight{
    float: right;
    margin-right: 150px;
}

.footerinforight li, .footerinfoleft li{
    margin-bottom: 10px;
}

.footerinforight li:hover, .footerinforight a:hover{
    color:#505050;
}

.footerinfo ul{
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

.socialmedia{
    margin-left: 700px;
}

.socialmedia a{
    float: left;
}

.icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 200px;
}

footer hr{
    margin-top: 50px;
    border: 1px solid #454545;
}

.footerdevs{
    position: absolute;
    left: 41%;
    top: 76%;
    color: #858585;
}